@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView>
    <NotAuthorized>
        <span>Please sign in</span>
    </NotAuthorized>
    <Authorized>
        <BlazorBarcodeScanner.ZXing.JS.BarcodeReader OnCodeReceived="LocalReceivedBarcodeText" />
        <div>@BoxValue</div>
    </Authorized>
</AuthorizeView>

@code{
    public string BoxValue { get; set; } = "";

    private void LocalReceivedBarcodeText(BarcodeReceivedEventArgs args)
    {
        this.BoxValue = args.BarcodeText;
        StateHasChanged();
    }

}